div.fixed-messages {
    position: fixed;
    display: flex;
    flex-direction: row;
    bottom: 0;
    right: 25px;
    width: 390px;
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(59, 59, 59);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 22px;
    font-weight: bold;
    padding: 15px 20px;
    box-shadow: 0 0 20px rgb(39, 39, 39);
}

div.fixed-messages:hover {
    cursor: pointer;
}

div.fixed-whitespace {
    display: flex;
    flex-direction: row;
    flex: 1;
}

button.new-message,
button.open-dm {
    display: flex;
    background-color: black;
    padding: 8px 8px 1px 8px;
    border-width: 0;
    border-radius: 23px;
    margin-bottom: -7px;
}

button.new-message:hover,
button.open-dm:hover {
    background-color: rgb(32, 35, 39);
    vertical-align: center;
}

button.new-message {
    margin-right: 10px;
}

img.new-message-icon,
img.open-dm-icon {
    height: 19px;
    width: auto;
}

